{
    "account_id": "{{user_account_id}}",
    "catalog_id": "c-aau0eSVXtL",
    "service_instance_name": "{{domain_name}}",
    "service_type": "dns",
    "configuration": {
        "dns_service": {
            "zone": "{{domain_name}}",
            "records": {{ zone_records }}
        }
    }
}
